<!DOCTYPE html>
<head>
{% block head %}

<title>

</title>
<link href="sea.css" rel="stylesheet" type="text/css">
{% endblock %}
</head>

<body>

{% content block %}


{% for i in test %}
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-warning-filled">
                <div class="testimonial-section">
                   i
                </div>
                <div class="testimonial-desc">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
                    <div class="testimonial-writer">
                      <div class="testimonial-writer-name">Zahed Kamal</div>
                      <div class="testimonial-writer-designation">Front End Developer</div>
                      <a href="#" class="testimonial-writer-company">Touch Base Inc</a>
                    </div>
                </div>
            </div>   
	    </div>

<br>
<br>
<br>

{% endblock %}

{% endblock %}
</body>

</html>
